<form
  class="settings-form"
  data-endpoint="/settings/demographics/save"
>

  <div class="form-row inline">
    <label>First name</label>
    <input
      name="first_name"
      type="text"
      value="{{ user.FirstName or '' }}"
    />
  </div>

  <div class="form-row inline">
    <label>Last name</label>
    <input
      name="last_name"
      type="text"
      value="{{ user.LastName or '' }}"
    />
  </div>

    <div class="form-row inline">
    <label>Gender</label>
    <select name="gender">
        __GENDER_OPTIONS__
    </select>
    </div>

  <div class="form-row inline">
    <label>Birth year</label>
    <input
      name="birth_year"
      type="number"
      min="1900"
      max="2025"
      value="{{ user.birth_year or '' }}"
    />
  </div>

  <div class="form-row inline">
    <label>Country of residence</label>
    <input
      name="country"
      type="text"
      value="{{ user.country or '' }}"
    />
  </div>

  <div class="form-row inline">
    <label>City of residence</label>
    <input
      name="city"
      type="text"
      value="{{ user.city or '' }}"
    />
  </div>

    <div class="form-row inline mobile-row">
      <label>Mobile number</label>

      <div class="mobile-fields">
        <div class="mobile-field">
          <span class="mobile-label"><label>Country code</label></span>
          <input
            type="text"
            name="mobile_country_code"
            placeholder="+886"
            value="{{ user.mobile_country_code or '' }}"
          >
        </div>

        <div class="mobile-field">
          <span class="mobile-label"><label>Phone number</label></span>
          <input
            type="text"
            name="mobile_national"
            placeholder="912345678"
            value="{{ user.mobile_national or '' }}"
          >
        </div>
      </div>
    </div>


  <br>
  <button type="submit" class="save-btn">
    Save
  </button>
</form>
