<div class="auth-main">
    <div class="auth-form">
        <h1>Login</h1>

        __SUCCESS_BLOCK__
        __ERROR_BLOCK__

        <form method="POST" action="/login">

            <div class="form-row">
                <div>
                    <label>Email</label>
                    <input type="email" name="email" required>
                </div>

                <div>
                    <label>Password</label>
                    <input type="password" name="password" required>
                </div>
            </div>

            <button type="submit">Log In</button>

        </form>

        <div class="auth-alt">
            New user? <a href="/register">Register here</a>
            <br>
            <a href="/forgot-password">Forgot your password?</a>
        </div>
    </div>
</div>